body {
  position: relative;
  background-color: var(--bg-primary);
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}
html {
  box-sizing: initial;
  font-size: 16px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
.isOpen > span:first-child {
  transform: rotate(45deg);
}

.isOpen > span:nth-child(2) {
  opacity: 0;
}

.isOpen > span:last-child {
  transform: rotate(-45deg);
}
.isOpen span {
  transition: all 150ms ease-out;
  transform-origin: 1.75px 1.75px;
}
