nav {
  width: 100%;
  height: 100px;
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row;
  position: relative;
}
@media screen and (max-width: 768px) {
  .logo {
    margin: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .logo {
    margin: 2rem 0 0 6rem;
  }
}
.logo {
  width: 125px;
  height: 38px;
}

//MOBILE MENU CLASSES

.isOpen > span:first-child {
  transform: rotate(45deg);
}

.isOpen > span:nth-child(2) {
  opacity: 0;
}

.isOpen > span:last-child {
  transform: rotate(-45deg);
}
.isOpen span {
  transition: all 150ms ease-out;
  transform-origin: 1.75px 1.75px;
}
//LOCK SCROLL WHEN MENU IS OPEN
.no-scroll {
  overflow: hidden;
}
